
Fourier-Optics-and-Computational-Khare.pdf
Fourier_Optic_and_Computaional_Imaging.aux
Fourier_Optic_and_Computaional_Imaging.out
Fourier_Optic_and_Computaional_Imaging.log
Fourier_Optic_and_Computaional_Imaging.synctex.gz
